body {
    padding-left: 50px;
}

h1 {
    font-family: 'Pacifico', cursive;
}

p {
    padding-top: 10px;
}

table {
    padding-left: 50px;  
}

table, th {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

table, td {
    padding: 10px;
    border: 1px solid black;
}

